<?xml version="1.0" ?>
<robot name="triple_pendulum">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="C:/Users/anshm/Downloads/pendisaac/assets/triple_pendulum/meshes/visual/base.obj" scale="1 1 1"/>
      </geometry>
      <material name="base">
        <color rgba="0.55 0.56 0.60 1"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="5.82490028"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
  <link name="cart">
    <inertial>
      <origin xyz="2.60848044e-06 0.0392419481 -0.0432288411" rpy="0 0 0"/>
      <mass value="0.996394613"/>
      <inertia ixx="0.000973375164" ixy="-1.02440875e-07" ixz="1.12846311e-07" iyy="0.000309151631" iyz="7.79300935e-05" izz="0.000882307031"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="C:/Users/anshm/Downloads/pendisaac/assets/triple_pendulum/meshes/visual/cart.obj" scale="1 1 1"/>
      </geometry>
      <material name="cart">
        <color rgba="0.62 0.62 0.66 1"/>
      </material>
    </visual>
  </link>
  <joint name="cart_slide" type="prismatic">
    <parent link="base_link"/>
    <child link="cart"/>
    <origin xyz="0 -0.04125 0.053" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.62" upper="0.62" effort="400" velocity="20"/>
  </joint>
  <link name="link1">
    <inertial>
      <origin xyz="0 0 0.165845077" rpy="0 0 0"/>
      <mass value="0.143393412"/>
      <inertia ixx="0.00160916476" ixy="-1.12633852e-08" ixz="-5.6668993e-07" iyy="0.00161080947" iyz="-4.32660483e-05" izz="3.13865281e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="C:/Users/anshm/Downloads/pendisaac/assets/triple_pendulum/meshes/visual/link1.obj" scale="1 1 1"/>
      </geometry>
      <material name="link1">
        <color rgba="0.78 0.16 0.16 1"/>
      </material>
    </visual>
  </link>
  <joint name="joint1" type="continuous">
    <parent link="cart"/>
    <child link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <link name="link2">
    <inertial>
      <origin xyz="0 0 0.211982103" rpy="0 0 0"/>
      <mass value="0.106308493"/>
      <inertia ixx="0.000624422692" ixy="-3.4044448e-08" ixz="-2.95448773e-07" iyy="0.000625360445" iyz="-2.1131032e-05" izz="2.14293086e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="C:/Users/anshm/Downloads/pendisaac/assets/triple_pendulum/meshes/visual/link2.obj" scale="1 1 1"/>
      </geometry>
      <material name="link2">
        <color rgba="0.08 0.43 0.78 1"/>
      </material>
    </visual>
  </link>
  <joint name="joint2" type="continuous">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0 0.249994998" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <link name="link3">
    <inertial>
      <origin xyz="0 0 0.157873376" rpy="0 0 0"/>
      <mass value="0.0371844397"/>
      <inertia ixx="0.000430759413" ixy="-1.64723701e-08" ixz="2.58714358e-07" iyy="0.000436550417" iyz="-4.98763349e-07" izz="6.32165916e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="C:/Users/anshm/Downloads/pendisaac/assets/triple_pendulum/meshes/visual/link3.obj" scale="1 1 1"/>
      </geometry>
      <material name="link3">
        <color rgba="0.08 0.59 0.24 1"/>
      </material>
    </visual>
  </link>
  <joint name="joint3" type="continuous">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 0 0.249997568" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
</robot>